* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(7, 81, 93);
}

.project-button {
    background-color: #272728;
    color: white;
    border: #f4f4f4;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    padding: 3px;
}

.project-button:hover{
    opacity: 0.8;
    box-shadow: 2px 5px 10px #555;
}

.works {
    color: #f4f4f4;
    padding: 3px;

}

header {
    background: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.welcome {
    color: #ccc;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#about, #projects, #contact {
    background-color: turquoise;
    padding: 20px;
    border-radius: 10px;
}

.project {
    margin: 15px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.send {
    background-color: #272728;
    color: white;
    border: #f4f4f4;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
}

.send:hover {
    opacity: 0.9;
    box-shadow: 2px 5px 10px #555;
    transition: box-shadow 1.15ms, opacity 1.15ms;

}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}